<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.zju.cst.dao.IInvestmentDao">
    <!-- 数据库中表investment与Domain类Investment的映射 -->
    <resultMap id="investmentResultMap" type="cn.edu.zju.cst.domain.Investment">
        <id column="investment_id" property="id"/>
        <result column="investment_name" property="investmentName"/>
        <result column="investment_introduction" property="investmentIntroduction"/>
        <result column="annual_interest_rate" property="annualInterestRate"/>
        <result column="investment_horizon" property="investmentHorizon"/>
        <result column="minimum_purchase" property="minimumPurchase"/>
        <result column="maximum_purchase" property="maximumPurchase"/>
        <result column="investment_repayment" property="investmentRepayment"/>
        <result column="interest_expiry_date" property="interestExpiryDate"/>
        <result column="investment_compound" property="investmentCompound"/>
        <result column="number_of_people_added" property="numberOfPeopleAdded"/>
    </resultMap>

    <select id="selectInvestmentById" parameterType="int" resultMap="investmentResultMap">
        SELECT * FROM investment WHERE investment_id = #{id}
    </select>

    <select id="selectInvestmentsByRepayAndCompound" resultMap="investmentResultMap">
        SELECT * FROM investment WHERE investment_repayment = #{0} AND investment_compound = #{1}
    </select>

    <select id="selectInvestmentByRepayAndHorizon" resultMap="investmentResultMap">
        SELECT * FROM investment WHERE investment_repayment = #{0} AND investment_horizon = #{1}
    </select>

    <update id="updatePeopleById">
        UPDATE investment SET number_of_people_added = #{1} WHERE investment_id = #{0}
    </update>
</mapper>