<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.zju.cst.dao.IUserDao">
    <!-- 数据库中表user与Domain类User的映射 -->
    <resultMap id="userResultMap" type="cn.edu.zju.cst.domain.User">
        <id column="user_id" property="id"/>
        <result column="user_account" property="userAccount"/>
        <result column="user_password" property="userPassword"/>
        <result column="user_identity" property="userIdentity"/>
        <result column="user_phone" property="userPhone"/>
        <result column="user_email" property="userEmail"/>
        <result column="user_type" property="userType"/>
    </resultMap>

    <select id="selectUserById" parameterType="int" resultMap="userResultMap">
        SELECT * FROM user WHERE user_id = #{id}
    </select>

    <select id="selectUserByAccountAndPassword" resultMap="userResultMap">
        SELECT * FROM user WHERE user_account = #{0} AND user_password = #{1}
    </select>

    <select id="selectUserByAccount" parameterType="java.lang.String" resultMap="userResultMap">
        SELECT * FROM user WHERE user_account = #{userAccount}
    </select>

    <insert id="insertUser" parameterType="cn.edu.zju.cst.domain.User">
        INSERT INTO user (user_account, user_password, user_identity, user_phone, user_email, user_type)
        VALUES (#{userAccount}, #{userPassword}, #{userIdentity}, #{userPhone}, #{userEmail}, #{userType})
    </insert>
</mapper> 